body {
  background: #87CEFA;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 500px;
  margin: auto;
}

header {
  background: #DB7093;
  overflow: auto;
}

p {
  font-weight: bold;
  color:black;
}

form {
  font-weight: bold;
  color:blueviolet;
}


footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: left;
  width: 285px;
}